@model PagedList.IPagedList<ClubMembership.Models.Member>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "TimeSheet";
}
<h2><img id="imgPhoto" src="@Url.Content("~/images/icons/member_icon.jpg")" /> Members</h2>
<p>
   
    <button type="button" class="buttonStyleAdd" onclick="location.href = '@Url.Action("Create", "Member")'">Add New Member</button>
</p>
@using (Html.BeginForm("Index", "Member", FormMethod.Get))
{
    <p>
        Search Name or Member ID: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="buttonStyle" />
    </p>
}
<p>
   <button type="button" class="buttonStyle" onclick="location.href = '@Url.Action("Index", "Member", new { topCondition = true, type = "All" })'">All Members</button>
    <button type="button" class="buttonStyle" onclick="location.href = '@Url.Action("Index", "Member", new { topCondition = true, type = "OffPeak" })'">Off Peak Members</button>
    <button type="button" class="buttonStyle" onclick="location.href = '@Url.Action("Index", "Member", new {topCondition = true, type = "Peak"})'">Peak Members</button>
    <button type="button" class="buttonStyle" onclick="location.href = '@Url.Action("Index", "Member", new {topCondition = true, type = "Expired"})'">Expired</button>
   <button type="button" class="buttonStyle" onclick="location.href = '@Url.Action("Index", "Member", new { topCondition = false})'">Reset filter</button>
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Member ID
        </th>
        <th>
            First Name
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            Gender
        </th>
        <th>
            @Html.ActionLink("Membership date", "Index", new {sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter})
        </th>
        <th>
            Member type
        </th>
        <th>
            Expired
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img id="imgPhoto" src="@Url.Content("~/Avatars/" + @item.Id + ".jpg")" width="60px" />
            </td>
            <td>
                @Html.ActionLink(item.MemberID, "Details", new { id = item.Id })
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expired)
            </td>
            <td>
                @Html.ActionLink("Record Start Time", "RegisterStartTime", new {id = item.Id}) <BR/>
                @*<img id="imgPhoto" src="@Url.Content("~/images/icons/start.jpg")"  />|*@
                @Html.ActionLink("Classes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
