@model PagedList.IPagedList<ClubMembership.Models.MemberAccountCharge>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Charges";
}

<h2><img id="imgPhoto" src="@Url.Content("~/images/icons/payment.jpg")" /> Charges</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <button type="button" class="buttonStyleAdd" onclick="location.href = '@Url.Action("Create", "Charge")'">Create One Charge</button>
</p>
@*test for commit*@
@using (Html.BeginForm("Charge", "MemberAccount", FormMethod.Get))
{
    <p>
        Search by Member: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="buttonStyle"/>
        | Filter:
        <button type="button" class="buttonStyle" onclick="location
    .href = '@Url.Action("Charge", "MemberAccount", new {topCondition = true, type = "Last30Days"})'">Last 30 Days</button>
        <button type="button" class="buttonStyle" onclick="location.href =
    '@Url.Action("Charge", "MemberAccount", new {topCondition = true, type = "Last12Months"})'">Last 12 Months</button>

    </p>
}

    <table class="table">
        <tr>
            <th>
                Ref
            </th>
            <th>
                Date
            </th>
            <th>
                Account
            </th>
            <th>
                Member ID
            </th>
            <th>
               Member @*@Html.ActionLink("Member", "Index", new { sortOrder = ViewBag.FullNameSortParm, currentFilter = ViewBag.CurrentFilter })*@
            </th>
            <th>
              Agreed Payment Type
            </th>
            <th>
                Charge
            </th>
            <th>Status</th> 
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberAccountChargeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChargeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberAccount.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberAccount.Member.MemberID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberAccount.Member.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    [ @Html.ActionLink(">>", "Display", new {id = item.MemberAccountChargeId}) ]
                </td>

            </tr>
        }
        <tr>

            <th>
                </th>
            <th>
                 </th>
            <th>
                </th>
            <th>
                 </th>
            <th>
                
            </th>
            <th>
               @ViewBag.memberAccountPaymentTotal
            </th>
            <th></th>
            <th></th>
        </tr>
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Charge",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
