@model IEnumerable<ClubMembership.Models.Edition>

@{
    ViewBag.Title = "Index";
}

<h2>Trainers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td width="600px">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Classes", "Details", new { id = item.EditionId }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.EditionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EditionId })
        </td>
    </tr>
}

</table>
