@model ClubMembership.Models.MemberAccountTransaction
@{
    ViewBag.Title = "Payments";
}
<h2><img id="imgPhoto" src="@Url.Content("~/images/icons/payment.jpg")" /> Record Payment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
         <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.MemberAccountId, "Account ID", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @*@Html.DropDownList("MemberAccountId", null, htmlAttributes: new { @class = "form-control" })*@
                <input type="text" id="txtCustomer" name="CustomerName" class="form-control" value="@ViewBag.FullAccountName"/>
                 @Html.Hidden("MemberAccountId", (object)ViewBag.MemberAccountId)
                @Html.ValidationMessageFor(model => model.MemberAccountId, "", new {@class = "text-danger"})

                <input type="hidden" id="hfCustomer" name="CustomerId"/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentMethodId, "Payment Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PaymentMethodId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentMethodId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentStatusId, "Payment Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PaymentStatusId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PaymentStatusId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AdditionalDetails, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdditionalDetails, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdditionalDetails, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Enter  name
            <div class="col-md-10">


            </div>
        </div>

        <span id="rData"></span>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.Hidden("hidMemberId", (object)ViewBag.MemberId)
                <input type="submit" value="Record Payment" class="buttonStyleAdd"/>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/autocomplete")
}

